* {
    font-family: 'FantasqueSansMonoRegular', monospace;
    color: #ccd2d7;
}

body {
    background-color: #001f35;
    line-height: 2.2rem;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
}

li {
    font-size: 2em;
    display: inline;
}

li span {
    font-size: .5em;
}

.title {
    text-align: center;
}

.footer { 
    font-size: .8em;
}

a { 
    padding: 0px 4px 0px 4px;
}

a:hover {
    background-color: #ccd2d7;
    color: #001f35;
}